<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>Conformation – Swipe</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap core CSS -->
		<link href="static/dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="static/dist/css/swipe.min.css" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link href="static/dist/img/favicon.png" type="image/png" rel="icon">
	</head>
	<body class="start">
		<main>
			<div class="layout">
				<!-- Start of Sign Up -->
				<div class="main order-md-2">
					<div class="start">
						<div class="container">
							<div class="col-md-12">
								<div class="content" >
									<h1>Account Created</h1>
									<p>Login to Your Email to Activate your Account</p>

									<a href="sign-in.html" class="btn button col-md-3 col-sm-3" >Sign In</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sign Up -->
			</div><!-- Layout -->
		</main>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!--<script src="static/dist/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
		<!--<script>window.jQuery || document.write('<script src="static/dist/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
		<script src="static/dist/js/vendor/popper.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!--<script src="static/dist/js/bootstrap.min.js"></script>-->

	</body>


</html>